# https://editorconfig.org/

root = true

[*]
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8

[*.{html,js}]
indent_size = 4

[*.{yml,css}]
indent_size = 2
